<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="oauth-server-spi"/>

    <!--没什么事情就不要动了-->
    <dubbo:registry protocol="zookeeper" address="${zookeeper.host}" />
    <dubbo:protocol name="dubbo" port="${dubbo.port}"/>

    <!-- 延迟到Spring初始化完成后，再暴露服务,服务调用超时设置为10秒,超时不重试   -->
    <dubbo:provider delay="-1" timeout="20000" retries="0" serialization="compactedjava"/>

    <dubbo:service interface="org.springframework.security.oauth2.provider.token.TokenStore" ref="tokenStore"/>

</beans>